.stMain{
    background-color: #000033;
}

#resume-screening-app{
    color: #e5e5ea;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#resume-screening-app:hover{
    color: #b2b2c1;
    transition: color 0.8s;
}
.st-emotion-cache-jkfxgf.e1nzilvr5 p{
    color: #e5e5ea;
    font-size: larger;

}
.st-emotion-cache-jkfxgf.e1nzilvr5 p:hover{
    color: #b2b2c1;
    transition: color 0.8s;
}
.st-emotion-cache-1gulkj5.e1b2p2ww15{
    box-shadow: 8px 8px 2px #d7dde7;

}

.st-emotion-cache-1gulkj5.e1b2p2ww15:hover{
    background-color: #cbd2e0;
    box-shadow: 0px 0px 0px;
    transition: background-color 0.8s;
    transition: box-shadow 0.8s;
}

.st-emotion-cache-1rsyhoq.e1nzilvr5 p{
    color: #e5e5ea;
}
.st-emotion-cache-fis6aj.e1b2p2ww10{
    color: #e5e5ea;
}
.st-emotion-cache-1aehpvj.e1bju1570{
    color: #e5e5ea;
}